.ReactModalPortal {
	position: relative;
	z-index: 9999;
}

.ReactModal__Html--open,
.ReactModal__Body--open {
	overflow: hidden;
}

.ReactModal__Overlay {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .ReactModal__Content {
    background: white;
    outline: none;
    width: 50rem;
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.24);
    overflow-y: auto;
    position: relative;
    padding: 1rem;
} */
